extends layout.pug
append head
    title Internal Server Error
block content
    h1 Server returned status code #{error.code}
    h2 Internal server error
    p Status Code:: #{error.code}
    p Error Message:: #{error.message}
    a(href='/') Take me back Index.js