extends layout.pug

block content

  article.portfolio-intro

    h1 Hey, welcome to my portfolio

    p The work I have completed during my Fullstack Javascript education at TeamTreeHouse


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each item in data
        .cell
            a(href=`project/${item.id}`)
              img.thumbnail(src=`${item.images[0]}`)
              h5 #{item.project_name}

